*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
table{
    width: 500px;
}
td, th{
    padding: 5px 10px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}